// app/layout.styl

@import '../_variables'
@import '../_mixins'
@import 'footer'


// your styles here:
body
  background: white

// color for brush
rect.extent
  fill: rgba(125,125,125,0.4)

// histogram bars:
rect.bar.deselected
  fill: #c5dded

rect.bar.selected
  fill: #1f77b4

.widget-outer
  border-radius: 25px
  border: 2px solid #8AC007
  padding: 20px

