div(data-hook="welcome-info" id="welcome-info" data-position="bottom" data-step="1")
  p
  h6 You will find the following buttons on the left menu:
  lu
    li
      i(role="presentation").material-icons menu
      | button controls the menu drawer.
    li
      i(role="presentation").material-icons home
      | button opens the homepage. This is where you are at now.
    li
      i(role="presentation").material-icons storage
      | button takes you to Datasets page. In Datasets page, you can upload your dataset or use existing datasets. You can also configure your datasets.
    li
      i(role="presentation").material-icons insert_chart
      | button takes you to Analyze page. In Analyze page, you can create your dashboard in a few clicks by creating new charts.
    li
      i(role="presentation").material-icons share
      | button takes you to Share page. In share page, you can share your current session or load the session which is shared with you.
    li
      i(role="presentation").material-icons help
      | button guides you about the user interface.
