div(data-hook="welcome-info" id="welcome-info" data-position="bottom" data-step="1")
  label(for="hide-welcome").mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect
    input(type="checkbox" id="hide-welcome" data-hook="hide-welcome").mdl-checkbox__input
    small
    | Don't show this again.

  h4 Welcome to SPOT!
  p
  | This software is being developed by the  <a href="https://www.esciencecenter.nl" target="_blank">Netherlands eScience Center</a>.  <br />
  | <br />
  | SPOT is free and open source. The license of the SPOT is  <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License Version 2.0</a>.  <br />
  | <br />
  | If you want to discover SPOT, you can start a demo session at the bottom of this page. The demo session will load Kaggle <b>Titanic Survival</b> dataset. <br />
  | <br />
  | When you need help, you can use
  i(role="presentation").material-icons help
  |<b>Help</b> button at the bottom of the left menu.<br />
  | <br />
  | For online tutorial, please check <a href="https://nicorenaud.gitbooks.io/spot-first-step/content" target="_blank">this link</a>.<br />
