div(data-hook="welcome-info" id="welcome-info" data-position="bottom" data-step="1")
  h4 Welcome to SPOT!
  p
  | This software is being developed by the  <a href="https://www.esciencecenter.nl" target="_blank">Netherlands eScience Center</a>.<br />
  | <br />
  | SPOT is a free and an open source software. The license of the SPOT is  <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache 2.0</a>.<br />
  | <br />
  | For the online tutorial of SPOT, please check <a href="https://nlesc.github.io/spot-tutorial/tutorial" target="_blank">this link</a>.<br />
  | <br />
  | <br />
  | The desktop version of SPOT can be downloaded from <a href="https://github.com/NLeSC/spot-desktop-app/releases" target="_blank">this link</a>.<br />
  | <br>
  | You can click the button below to start a demo session. The demo session has <b>Kaggle Titanic Survival</b> dataset.
  //- | <br>You can also start this session later using the button at the bottom of this page.
  | <br><br> Happy SPOTTING!<br>