div(data-hook="welcome-info" id="welcome-info" data-position="bottom" data-step="1")
  h4 Welcome to SPOT!
  p
  | This software is being developed by the  <a href="https://www.esciencecenter.nl" target="_blank">Netherlands eScience Center</a>.  <br />
  | <br />
  | SPOT is a free and an open source software. The license of the SPOT is  <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License Version 2.0</a>.  <br />
  | <br />
  | For the online tutorial of SPOT, please check <a href="https://nicorenaud.gitbooks.io/spot-first-step/content" target="_blank">this link</a>.<br />
  | <br />
  | At the end of this introduction, you will have a toy data to play with.
  | <br />
  | <b>This software works best in Google Chrome or Chromium.</>
