NODE_ENV=production
PORT=1923
BASE_URL=0.0.0.0
MODE=client

## Uncomment and set the lines below only for the server mode
#MODE=server
#DB_SERVER=localhost
#DB_SERVER_PORT=localhost

ZENODO_TOKEN=Bl1lm969VqJIhSuesfW7UyTZtp3NY88kyflzHxJkqlqaNHpKTXyyamz
