div(style='background-color: white;')
  main.mdl-layout__content.page-content
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
        div.mdl-layout__header-row
          span.mdl-layout-title Configure facet

      main
        div(data-hook="facet-define")

        div(data-hook="transform-categorial-panel")
          div(data-hook="facet-transform-categorial")
        div(data-hook="transform-continuous-panel")
          div(data-hook="facet-transform-continuous")
        div(data-hook="transform-datetime-panel")
         div(data-hook="facet-transform-datetime")
        div(data-hook="transform-duration-panel")
         div(data-hook="facet-transform-duration")
