div(style='background-color: white;')
  main.mdl-layout__content.page-content

    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
        div.mdl-layout__header-row
          span.mdl-layout-title Configure partition

      main
        div(data-hook="partition-general").mdl-grid
          div.mdl-cell.mdl-cell--1-col.facetIcon.facetInfoIcon
          div.mdl-cell.mdl-cell--1-col
          div.mdl-cell.mdl-cell--8-col
            div(id="partition-label-div").mdl-cell.mdl-cell--12-col.mdl-grid
              div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
                input(
                  id="partition-title"
                  data-hook="partition-title-input"
                  type="text").mdl-textfield__input
                label(for="").mdl-textfield__label Label

            div(for="partition-label-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
              | The label along this axis

            div(id="partition-options-div").mdl-cell.mdl-cell--12-col.mdl-grid
              div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--3-col
                label(for="partition-cb1").mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect
                  input(type="checkbox" id="partition-cb1" data-hook="show-label").mdl-checkbox__input
                  span.mdl-checkbox__label Show label

              div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--3-col
                label(for="partition-cb2").mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect
                  input(type="checkbox" id="partition-cb2" data-hook="show-legend").mdl-checkbox__input
                  span.mdl-checkbox__label Show legend

              // div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--3-col
              //   label(for="partition-cb3").mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect
              //     input(type="checkbox" id="partition-cb3" data-hook="accumulative").mdl-checkbox__input
              //     span.mdl-checkbox__label Accumulative

              // div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--3-col
              //   label(for="partition-cb4").mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect
              //     input(type="checkbox" id="partition-cb4" data-hook="relative").mdl-checkbox__input
              //     span.mdl-checkbox__label Relative

            div(for="partition-options-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
              | Set various options for this partition

        div(data-hook="partition-continuous")
        div(data-hook="partition-categorial")
        div(data-hook="partition-datetime")
        div(data-hook="partition-duration")
        div(data-hook="partition-text")
