div(data-hook="group-categorial-panel").mdl-grid
  div.mdl-cell.mdl-cell--1-col.facetIcon.facetCategorialIcon
  div.mdl-cell.mdl-cell--1-col
  div.mdl-cell.mdl-cell--8-col
   div.mdl-cell.mdl-cell--12-col
     table(style="width: 100%")
       thead
         tr
           th
             button(data-hook="group-order-abc").mdl-button.mdl-js-button label
           th
             button(data-hook="group-order-count").mdl-button.mdl-js-button count
       tbody(data-hook="groups-table")
  div.mdl-cell.mdl-cell--2-col
