div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header
        div.mdl-layout__header-row
            span.mdl-layout-title Analyze
            div.mdl-layout-spacer
            span(data-hook="bookmarks")
    div.mdl-layout__drawer
        span.mdl-layout-title Spot
        nav.mdl-navigation
            a(href="/home").mdl-navigation__link Home
            a(href="/facets").mdl-navigation__link Facets
            a(href="/analyze").mdl-navigation__link Analyze
    main.mdl-layout__content
        div(data-hook="widgets").mdl-grid
        button(id="fab-button").mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.mdl-button--floating-action
            i.material-icons add

        ul(data-hook="widget-selector" for="fab-button").mdl-menu.mdl-menu--top-right.mdl-js-menu.mdl-js-ripple-effect
