div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
  header.mdl-layout__header
    div.mdl-layout__header-row
      div.mdl-layout__drawer-button
        a(href="javascript:window.app.router.reload()")
          i.material-icons reply

      span(data-hook="navbar-facet-name").mdl-layout-title Configure Facet

  main.mdl-layout__content
    div.page-content
      div(data-hook="facet-define")
      div(data-hook="facet-transform-categorial")
      div(data-hook="facet-transform-continuous")
      div(data-hook="facet-transform-time")
