div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header
        div.mdl-layout__header-row
            span.mdl-layout-title Facets
            div.mdl-layout-spacer
            div.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
                label(for="fixed-header-drawer-exp").mdl-button.mdl-js-button.mdl-button--icon
                    i.material-icons search
                div.mdl-textfield__expandable-holder
                    input(data-hook="facet-selector" type="text" id="fixed-header-drawer-exp").mdl-textfield__input
    div.mdl-layout__drawer
        span.mdl-layout-title UHI Tool
        nav.mdl-navigation
            a(href="/home").mdl-navigation__link Home
            a(href="/data").mdl-navigation__link Data
            a(href="/facets").mdl-navigation__link Facets
            a(href="/analyze").mdl-navigation__link Analyze
    main(data-hook="widgets").mdl-layout__content
        div(data-hook="facet-list").mdl-grid
