div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
  header.mdl-layout__header
    div.mdl-layout__header-row
      div.mdl-layout__drawer-button
        a(href="javascript:window.app.router.reload()")
          i.material-icons reply

      span.mdl-layout-title Facets - Edit

      div.mdl-layout-spacer

      button(data-hook="rescan-button" id="tt1").mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
        i.material-icons autorenew
      div(for="tt1").mdl-tooltip.mdl-tooltip--large
        | Rescan dataset for categories, and minimum and maximum values
    div.mdl-layout__tab-bar.mdl-js-ripple-effect
      a(href="#scroll-tab-1").mdl-layout__tab Define
      a(href="#scroll-tab-2").mdl-layout__tab Mutate
      a(href="#scroll-tab-3").mdl-layout__tab Group
      a(href="#scroll-tab-4").mdl-layout__tab Aggregate

  main.mdl-layout__content
    section(id="scroll-tab-1").mdl-layout__tab-panel
      div.page-content
        div(data-hook="facets-edit-general")
        div(data-hook="facets-edit-type")
        div(data-hook="facets-edit-basevalue")
        div(data-hook="facets-edit-basevalue-time")
    section(id="scroll-tab-2").mdl-layout__tab-panel
      div.page-content
        div(data-hook="facets-edit-transform-continuous")
        div(data-hook="facets-edit-transform-categorial")
        div(data-hook="facets-edit-transform-time")
    section(id="scroll-tab-3").mdl-layout__tab-panel
      div.page-content
        div(data-hook="facets-edit-grouping")
    section(id="scroll-tab-4").mdl-layout__tab-panel
      div.page-content
        div(data-hook="facets-edit-reduction")
        div(data-hook="facets-edit-reduction-type")
