div(data-hook="fullitem").mdl-cell.mdl-cell--2-col.mdl-card.mdl-shadow--2dp
  div.mdl-card__title.togglePower
    div(data-hook="name").mdl-card__title-text.unselectable
  div(data-hook="description").mdl-card__supporting-text.togglePower.facetDescription
  div(data-hook="actions").mdl-card__actions.mdl-card--border
    button(data-hook="configureFacet").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.unselectable
      | Edit
    button(data-hook="removeFacet").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.unselectable
      | Remove
    button(data-hook="duplicateFacet").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.unselectable
      | Copy 
  div(data-hook="card-menu").mdl-card__menu
    button(data-hook="typeIcon").mdl-button--icon.unselectable
