div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
    div.mdl-layout__header-row
      span.mdl-layout-title Configure dataset

      div.mdl-layout-spacer

      span(data-hook="data-string").unselectable
        | Select and configure facets

      div.mdl-layout-spacer

      button(data-hook="search-button" id="tt3").mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
        i.material-icons search
      div(for="tt3").mdl-tooltip.mdl-tooltip--large
        | Show or hide search bar

      button(data-hook="add-button" id="tt2").mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
        i.material-icons add
      div(for="tt2").mdl-tooltip.mdl-tooltip--large
        | Add a new facet

      button(data-hook="rescan-button" id="tt1").mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
        i.material-icons autorenew
      div(for="tt1").mdl-tooltip.mdl-tooltip--large
        | Analyze data and autoconfigure facets 

    div(data-hook="search-bar").mdl-layout__header-row
      div.mdl-layout-spacer
      span.mdl-color--white.mdl-color-text--primary.searchBar

        span.mdl-textfield.searchBar
          input(data-hook="facet-selector" type="text" id="tt5").mdl-textfield__input.searchBar
          div(for="tt5").mdl-tooltip.mdl-tooltip--large
            | Search facet name and description

        span
          button(data-hook="clear-button" id="tt4").mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
            i.material-icons close
          div(for="tt4").mdl-tooltip.mdl-tooltip--large
            | Clear search
      div.mdl-layout-spacer

  main(data-hook="widgets").mdl-layout__content
    div(data-hook="facet-list").mdl-grid
