div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
    div.mdl-layout__header-row
      span.mdl-layout-title.unselectable Analyze

      div.mdl-layout-spacer

      span(data-hook="data-string").unselectable

      div.mdl-layout-spacer

      span
        label(for="editModeSwitch" id="editModeSwitchLabel").mdl-switch.mdl-js-switch.mdl-js-ripple-effect
          input(type="checkbox" id="editModeSwitch").mdl-switch__input
          span.mdl-switch__label
        div(for="editModeSwitchLabel").mdl-tooltip.mdl-tooltip--large
          | Switch between edit and analyze mode

    div(data-hook="chart-bar").chartBar.mdl-color--white.mdl-color-text--grey-600
      span.chartBarText Click on a chart icon to start a new plot

      div(data-hook="horizontalbarchart" id="horizontalbarchart").mdl-cell.mdl-cell--12-col.horizontalbarchartIcon.widgetIcon
      div(for="horizontalbarchart").mdl-tooltip.mdl-tooltip--large
        | Click to add a horizontal bar chart
        
      div(data-hook="barchart" id="barchart").mdl-cell.mdl-cell--12-col.barchartIcon.widgetIcon
      div(for="barchart").mdl-tooltip.mdl-tooltip--large
        | Click to add a bar chart
    
      div(data-hook="linechart" id="linechart").mdl-cell.mdl-cell--12-col.linechartIcon.widgetIcon
      div(for="linechart").mdl-tooltip.mdl-tooltip--large
        | Click to add a line chart
    
      div(data-hook="piechart" id="piechart").mdl-cell.mdl-cell--12-col.piechartIcon.widgetIcon
      div(for="piechart").mdl-tooltip.mdl-tooltip--large
        | Click to add a pie chart
    
      div(data-hook="bubbleplot" id="bubbleplot").mdl-cell.mdl-cell--12-col.bubbleplotIcon.widgetIcon
      div(for="bubbleplot").mdl-tooltip.mdl-tooltip--large
        | Click to add a bubbleplot chart
    
      div(data-hook="vis3dchart" id="vis3dchart").mdl-cell.mdl-cell--12-col.vis3dchartIcon.widgetIcon
      div(for="vis3dchart").mdl-tooltip.mdl-tooltip--large
        | Click to add a 3d scatter chart
          
      div(data-hook="radarchart" id="radarchart").mdl-cell.mdl-cell--12-col.radarchartIcon.widgetIcon
      div(for="radarchart").mdl-tooltip.mdl-tooltip--large
        | Click to add a radar chart

      div(data-hook="networkchart" id="networkchart").mdl-cell.mdl-cell--12-col.networkchartIcon.widgetIcon
      div(for="networkchart").mdl-tooltip.mdl-tooltip--large
        | Click to add a network chart

    div(data-hook="facet-bar").facetBar
      span.facetBarText Drop variable on a chart, or click to edit
      div(data-hook="facet-bar-items" id="facetBar").facetBarItems

  main.mdl-layout__content.analyzeMain
    div(id="widgets" data-hook="widgets").widgetDropZone
