body(data-hook="page-container")
  div(id="snack-bar" aria-live="assertive" aria-atomic="true" aria-relevant="text").mdl-js-snackbar.mdl-snackbar
    div.mdl-snackbar__text
    button(type="button").mdl-snackbar__action
