div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
    div.mdl-layout__header-row
      span.mdl-layout-title Datasets

      div.mdl-layout-spacer

      button(data-hook="search-button" id="tt3").mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
        i.material-icons search

      div(for="tt3").mdl-tooltip.mdl-tooltip--large
        | Show or hide search bar

    div(data-hook="search-bar").mdl-layout__header-row
      div.mdl-layout-spacer
      span.mdl-color--white.mdl-color-text--primary.searchBar

        span.mdl-textfield.searchBar
          input(data-hook="dataset-selector" type="text" id="tt5").mdl-textfield__input.searchBar
          div(for="tt5").mdl-tooltip.mdl-tooltip--large
            | Search facet name and description

        span
          button(data-hook="clear-button" id="tt4").mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
            i.material-icons close
          div(for="tt4").mdl-tooltip.mdl-tooltip--large
            | Clear search
      div.mdl-layout-spacer

  main.mdl-layout__content
    div(style="width: 100%" data-hook="add-datasets-div").mdl-grid
      div.mdl-cell.mdl-cell--4-col.homeCard
        div(id="card-connect").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.serverupload
          div.mdl-card__actions.mdl-card--border
            button(data-hook="server-connect").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
              | Connect to server
     
      div.mdl-cell.mdl-cell--4-col.homeCard
        div(id="card-json").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.jsonupload
          div.mdl-card__actions.mdl-card--border
            label(for="jsonuploadBtn" data-hook="json-upload").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect 
              | Upload JSON file
            input(type="file" data-hook="json-upload-input" id="jsonuploadBtn").fileBtn
     
      div.mdl-cell.mdl-cell--4-col.homeCard
        div(id="card-csv").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.csvupload
          div.mdl-card__actions.mdl-card--border
            label(for="csvuploadBtn" data-hook="csv-upload").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect 
              | Upload CSV file
            input(type="file" data-hook="csv-upload-input" id="csvuploadBtn").fileBtn

    div(data-hook="dataset-items" style="width: 100%")
