body.spot-color1
    main.mdl-layout__content
      div.content-grid.mdl-grid.mdl-cell--middle
        div.mdl-cell.mdl-cell--8-col.mdl-cell--2-offset.mdl-shadow--2dp.spot-cell.spot-color2.spot-trans
          span.cardTitleText  SPOT - Fully interactive, fast facet browser
          ul
            li
              p.cardText SPOT is an interactive, fast, multi-dimensional data visualization tool.

        div.mdl-cell.mdl-cell--4-col.spot-cell.spot-color2.spot-trans
          span.cardTitleText.fa.fa-flask
          span.cardTitleText   Highlights
          ul
            li
              .cardText Specifically designed for 
               strong scientific 
               data visaulization
            li
              .cardText Fully animated and interactive
            li
              .cardText Exploration sessions can be saved
            li
              .cardText Optional server + database (Postgresql)

        div.mdl-cell.mdl-cell--4-col.spot-cell.spot-color2.spot-trans
          span.cardTitleText.fa.fa-code
          span.cardTitleText   Modern tools
          ul
            li
              .cardText Viewer is fully standalone (no server required)
            li
              .cardText Responsive interface: material design lite
            li
              .cardText Fast filtering (~1M data points in ~30ms)
            li
              .cardText Cross platform (desktop, mobile and tablet)

        div.mdl-cell.mdl-cell--4-col.mdl-shadow--2dp.spot-cell.spot-color2.spot-trans
          span.cardTitleText.fa.fa-github
          span.cardTitleText   Open Source
          ul
            li
              .cardText Permissive Open source Licence (Apache 2.0)
            li
              .cardText Continuous Integration
            li
              .cardText Documented (jsdoc) and tested (jasmine)
            li
              .cardText Generic tool to be useful in any scientific project
      
      footer.mdl-mini-footer.spot-color1
        .mdl-mini-footer__left-section
          ul.mdl-mini-footer__link-list
            a(href='#')
              div.footerimg(style="background-image:url('images/logos/chartjs.svg');")
            a(href='#')
              div.footerimg(style="background-image:url('images/logos/sigma.svg');")
            a(href='#')
              div.footerimg(style="background-image:url('images/logos/crossfilter.svg');")
            a(href='#')
              div.footerimg(style="background-image:url('images/logos/ampersand.svg');")
            a(href='#')
              div.footerimg(style="background-image:url('images/logos/mdl.svg');")
            a(href='#')
              div.footerimg(style="background-image:url('images/logos/pug.svg');")

        .mdl-mini-footer__right-section
          a(href='https://github.com/NLeSC/spot')
            i(style="padding-right:20px;").fa.fa-github.iconBig
          a(href='https://nlesc.github.io/spot')
            i.fa.fa-desktop.iconBig
