div.view
  div(id="index-banner").section.no-pad-bot 
    div.container
      br
      br
      h1.header.center.orange-text iDark
        div.row.center
        h5.header.col.s12.light  A modern responsive front-end framework based on Material Design
        div.row.center
          a(href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange") Get Started 
        br
        br



    div.container
      div.section
        div.row
          div.col.s12.m4
            div.icon-block
              h2.center.light-blue-text 
                i.material-icons flash_on
              h5.center Speeds up development
              p.light We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
              

    div.container
      div.section
        div.row
          div.col.s12.m4
            div.icon-block
              h2.center.light-blue-text 
                i.material-icons group
              h5.center Speeds up development
              p.light We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.

    div.container
      div.section
        div.row
          div.col.s12.m4
            div.icon-block
              h2.center.light-blue-text 
                i.material-icons settings
              h5.center Speeds up development
              p.light We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
