div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  header.mdl-layout__header
    div.mdl-layout__header-row
      span.mdl-layout-title Home
  div.mdl-layout__drawer
    span.mdl-layout-title Spot
    nav.mdl-navigation
      a(href="/home").mdl-navigation__link Home
      a(href="/facets").mdl-navigation__link Facets
      a(href="/analyze").mdl-navigation__link Analyze
  main(data-hook="widgets").mdl-layout__content
      
    div.mdl-grid
      div.mdl-cell.mdl-cell--4-col.homeCard
        div(id="card-connect").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.serverupload
          div.mdl-card__actions.mdl-card--border
            button(data-hook="server-connect").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
              | Connect to server

      div.mdl-cell.mdl-cell--4-col.homeCard
        div(id="card-json").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.jsonupload
          div.mdl-card__actions.mdl-card--border
            label(for="jsonuploadBtn" data-hook="json-upload").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect 
              | Upload JSON file
            input(type="file" data-hook="json-upload-input" id="jsonuploadBtn").fileBtn

      div.mdl-cell.mdl-cell--4-col.homeCard
        div(id="card-csv").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.csvupload
          div.mdl-card__actions.mdl-card--border
            label(for="csvuploadBtn" data-hook="csv-upload").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect 
              | Upload CSV file
            input(type="file" data-hook="csv-upload-input" id="csvuploadBtn").fileBtn
        div(for="card-csv").mdl-tooltip.mdl-tooltip--large
          | Upload CSV data

      div.mdl-cell.mdl-cell--4-col.homeCard
        div(id="card-session-download").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.sessiondownload
          div.mdl-card__actions.mdl-card--border
            a(data-hook="session-download" download).mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
              | Download session

      div.mdl-cell.mdl-cell--4-col.homeCard
        div(id="card-session-upload").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.sessionupload
          div.mdl-card__actions.mdl-card--border
            label(for="sessionuploadBtn" data-hook="session-upload").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect 
              | Upload session
            input(type="file" data-hook="session-upload-input" id="sessionuploadBtn").fileBtn

      div.mdl-cell.mdl-cell--4-col.homeCard
        div(id="card-docs").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.readthedoc
          div.mdl-card__actions.mdl-card--border
            a(href="/spot/doc/spot/0.0.4/index.html" target="_blank").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect User docs
            a(href="/spot/doc/spot/0.0.4/index.html" target="_blank").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Development (API)

    div(data-hook="dataset-items")

