div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  main(style='background-color: white;').mdl-layout__content
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
        div.mdl-layout__header-row
          span.mdl-layout-title Datasets

          div.mdl-layout-spacer

          button(data-hook="search-button" id="tt3" data-position="bottom" data-step="1" data-intro="You can search available datasets here.").mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
            i.material-icons search

          div(for="tt3").mdl-tooltip.mdl-tooltip--large
            | Show or hide search bar

        div(data-hook="search-bar").mdl-layout__header-row
          div.mdl-layout-spacer
          span.mdl-color--white.mdl-color-text--primary.searchBar

            span.mdl-textfield.searchBar
              input(data-hook="dataset-selector" type="text" id="tt5").mdl-textfield__input.searchBar
              div(for="tt5").mdl-tooltip.mdl-tooltip--large
                | Search facet name and description

            span
              button(data-hook="clear-button" id="tt4").mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
                i.material-icons close
              div(for="tt4").mdl-tooltip.mdl-tooltip--large
                | Clear search
          div.mdl-layout-spacer


      dialog(data-hook="CSV-settings").mdl-dialog
        div.mdl-dialog__content
          section(id="csv-settings-table" name="csv-settings-table").mdl-grid
            div.mdl-layout-spacer
              div.mdl-cell.mdl-cell--6-col-tablet.mdl-cell--12-col-desktop.mdl-cell--stretch
                table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
                  thead
                    tr
                      th Option
                      th
                      th
                      th
                      th
                      th
                      th
                  tbody
                    tr
                      td Misc.
                      td
                        span
                          label(for="CSV-header-columns").mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect
                            | Headers
                            input(type="checkbox" id="CSV-header-columns").mdl-checkbox__input
                    tr
                      td Delimiter
                      td
                        span
                          label(for="CSV-separator-comma").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-separator-comma" name="CSV-separator-options" value="comma").mdl-radio__button
                        span
                          | Comma (,)
                      td
                        span
                          label(for="CSV-separator-colon").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-separator-colon" name="CSV-separator-options" value="colon").mdl-radio__button
                        span
                          | Colon (:)
                      td
                        span
                          label(for="CSV-separator-semicolon").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-separator-semicolon" name="CSV-separator-options" value="semicolon").mdl-radio__button
                        span
                          | Semicolon (;)
                      td
                        span
                          label(for="CSV-separator-pipe").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-separator-pipe" name="CSV-separator-options" value="pipe").mdl-radio__button
                        span
                          | Pipe (|)
                      td
                        span
                          label(for="CSV-separator-tab").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-separator-tab" name="CSV-separator-options" value="tab").mdl-radio__button
                        span
                          | Tab
                      td
                        span
                          label(for="CSV-separator-other").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" data-hook="CSV-separator-other" id="CSV-separator-other" name="CSV-separator-options" value="other").mdl-radio__button
                        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                          input(data-hook="CSV-separator-other-input" type="text" id="CSV-separator-other-input" name="CSV-separator-other-input").mdl-textfield__input
                          label(for='CSV-separator-other-input').mdl-textfield__label
                            | Other
                    tr
                      td Quoting
                      td
                        span
                          label(for="CSV-quote-none").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-quote-none" name="CSV-quote" value="none").mdl-radio__button
                        span
                          | No quoting
                      td
                        span
                          label(for="CSV-quote-single").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-quote-single" name="CSV-quote" value="single").mdl-radio__button
                        span
                          | Single (')
                      td
                        span
                          label(for="CSV-quote-double").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-quote-double" name="CSV-quote" value="double").mdl-radio__button
                        span
                          | Double (")
                    tr
                      td Comments
                      td
                        span
                          label(for="CSV-comment-pound").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-comment-pound" name="CSV-comment" value="pound").mdl-radio__button
                        span
                          | Pound (#)
                      td
                        span
                          label(for="CSV-comment-exclamation").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-comment-exclamation" name="CSV-comment" value="exclamation").mdl-radio__button
                        span
                          | Exclamation (!)
                      td
                        span
                          label(for="CSV-comment-slash").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-comment-slash" name="CSV-comment" value="slash").mdl-radio__button
                        span
                          | Slash (/)
                      td
                        span
                          label(for="CSV-comment-dash").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-comment-dash" name="CSV-comment" value="dash").mdl-radio__button
                        span
                          | Dash (-)
                      td
                        span
                          label(for="CSV-comment-percent").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                            input(type="radio" id="CSV-comment-percent" name="CSV-comment" value="percent").mdl-radio__button
                        span
                          | Percent (%)
          div.mdl-dialog__actions.mdl-dialog__actions
            button(data-hook="CSV-settings-close" type="button").mdl-button.close Close


      div(style="width: 100%" data-hook="add-datasets-div").mdl-grid
        div.mdl-cell.mdl-cell--4-col.homeCard
          div(id="card-connect" data-position="bottom" data-step="2" data-intro="This is to connect to POSTGRESQL server. Make sure that you have right settings for the connection!").card-wide.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.serverupload
            div.mdl-card__actions.mdl-card--border
              button(data-hook="server-connect").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                | Connect to server

        div.mdl-cell.mdl-cell--4-col.homeCard
          div(id="card-json" data-position="bottom" data-step="3" data-intro="Here you can upload a JSON data file.").card-wide.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.jsonupload
            div.mdl-card__actions.mdl-card--border
              label(for="jsonuploadBtn" data-hook="json-upload").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                | Upload JSON file
              input(type="file" data-hook="json-upload-input" id="jsonuploadBtn").fileBtn

        div.mdl-cell.mdl-cell--4-col.homeCard
          div(id="card-csv" data-hook="csv-upload"  data-position="bottom" data-step="4" data-intro="Here you can upload a CSV data file.").card-wide.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.csvupload
            div.mdl-card__actions.mdl-card--border
              label(for="csvuploadBtn").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                | Upload CSV file
              input(type="file" data-hook="csv-upload-input" id="csvuploadBtn").fileBtn
              button(data-hook="CSV-settings-button" style="float: right"  data-position="bottom" data-step="5" data-intro="Setting for the CSV file can be configured here.").mdl-button.mdl-js.button.mdl-button--icon
                i.material-icons settings

      div(data-hook="dataset-items" style="width: 100%")
