@charset "UTF-8";

.mdl-dialog {
  width: 70%;
  margin: 0px auto;
}

.swiper-container {
  margin: 20px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  line-height: 300px;
}

#helpDialogCloseDiv {
  position: relative;
  float: right;
  bottom: 2%;
  right: 5%
}

dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

dialog::backdrop { /* native */
  background-color: black;
  opacity: 0.4;
}

dialog + .backdrop { /* polyfill */
  background-color: black;
  opacity: 0.4;
}
