.helpButton{
  margin:100px;
  display: block;
  /*border: 3px solid #263238;*/
  border: 3px solid #FF4136;
  -webkit-border-radius: 50%;
  height: 44px;
  width: 44px;
  background: rgb(55, 71, 79);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(236, 28, 28, 0.4);
  text-align: center;
  font-size: 16px;
  color:white;
  font-family: verdana,arial,sans-serif;
  line-height: 1.5em;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
  -webkit-animation-name: pulsate;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite
}

.helpButton:hover {
  animation: none;
}

@-webkit-keyframes pulsate {
  0% { -webkit-box-shadow: 0 0 0 0px rgba(193, 66, 66, 0.8); }
  20% { -webkit-box-shadow: 0 0 0 2px rgba(193, 66, 66, 0.6); }
  60% { -webkit-box-shadow: 0 0 0 6px rgba(193, 66, 66, 0.4); }
  100% { -webkit-box-shadow: 0 0 0 10px rgba(193, 66, 66, 0.2); }
}
