@charset "UTF-8";

.mdl-dialog {
  width: 70%;
  margin: 0px auto;
}

.swiper-container {
    width: 100%;
    margin: 20px auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    line-height: 300px;
}
