@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

/*body, html {
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: "Source Sans Pro" sans-serif;
}*/

.button__holder {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #1a1a1a;
}

.button__holder:after {
	content: "";
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(26, 26, 26, 0.7);
}

.button__holder h2 {
	margin-right: 1em;
	text-align: center;
	color: #8A3B58;
}

.plus {
	position: center;
	z-index: 1;
	width: 40px;
	height: 40px;
	color: #1a1a1a;
	background: #ed1c5b;
	border-radius: 50%;
	border: none;
	transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
}

.plus:after {
	content: "";
	font-size: 1.5em;
	line-height: 1.0em;
}

.plus:hover {
	transform: rotate(360deg);
	box-shadow: 0 0 1px 15px rgba(138, 59, 88, 0.4), 0 0 1px 30px rgba(138, 59, 88, 0.1), 0 0 1px 45px rgba(138, 59, 88, 0.1);
}
