@charset "UTF-8";

.mdl-dialog {
  width: 70%;
  margin: 0px auto;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  /*background: #FAFAFA;*/
  margin: 0 60px; /* space for prev/next buttons */
}

.carousel-cell {
  width: 100%;
  /*height: 200px;*/
  margin-right: 50px;
  /*background: #8C8;*/
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.carousel-cell.is-selected{
  position:absolute;
  top:0%;
  min-height:80%;
  display:block;
  left:10%;
  -webkit-transform: translate(20%, 0%);
  min-width:100%;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /*line-height: 200px;*/
  font-size: 80px;
  color: white;
}

/* smaller, dark, rounded square */
.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #333;
}
.flickity-prev-next-button:hover {
  background: #F90;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}
