/*.fa-check-square-o:before {
    color: rgb(255, 255, 255);
}

.fa-file:before {
    color: rgb(0, 0, 0);
}
*/

.mdl-icon-toggle__label.material-icons {
  color: rgb(255, 255, 255);
}

.mdl-icon-toggle.is-checked .mdl-icon-toggle__label {
  color: rgb(32, 168, 216);
}
.mdl-checkbox.mdl-checked ._mdl-icon {
  background-color: white;
}


.afIcon {
  font-size: 40px;
  margin-bottom: 1em;
  text-align: justify;
}

.afCheckIcon {
  font-size: 40px;
}


.bgspot {
    background: url("../../../dist/../images/background.jpg")no-repeat center center;
    //background-color: hsl(200, 28%, 47%);
    //background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bgspotTrans:after {
  content: "";
  background: url("../../../dist/../images/background.jpg")no-repeat center center;
  background-size:100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color:rgba(255,255,255,0.4);
  opacity: 0.8;
  background-size: 100% auto;
}

.footerimg{
  position: relative;
  margin: 0px 5px 0px 5px; // top, right, bottom, left
  float: left;
  width: 60px;
  height: 60px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}


.mdl-grid {
  padding: 0!important;
}

.cardTitleText {
  content: "p ";
  text-align: center;
  font-size: 40px;
  margin-tom: 40px;
  margin-bottom: 40px;
  color: white;
  text-align: justify;
}

.iconBig {
  font-size: 60px;
  margin-bottom: 1em;
  text-align: justify;
  color:white;
}

.cardText {
  font-size: 16px;
  margin-bottom: 1em;
  text-align: justify;
  color:white;
}

.spot-cell{
  background: white;
  padding: 30px;
  color: white;
  font-size: 20px;
}

.spot-color1{
  background: #e0e3e5;
}

.spot-color2{
  background: black;
}

.spot-color3{
  background: #00ADEF;
}

.spot-color-white{
  color: rgb(0, 0, 0);
}

.spot-trans{
  opacity:0.5;
}

.spot-color-top-bar{
  background: white;
}

.spot-color-top-bar-text{
  color: #000000;
}

.spot-color-side-bar-header{
  background: #263238;
}

.spot-color-side-bar{
  background: rgb(65, 84, 94);
}

.spot-color-page{
  background: #cedae0;
}

.spot-color-card-content{
  background: #ECEFF1;
}




.logos {
    max-width: 90%;
    margin: auto;
    justify-content: center;    /*This will center the interior elements*/
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;
}

li:before {
//    content: "";
    display: block;
    float: left;
    width: 1.2em;
    color: green;
}
