tr
  td
    input(data-hook="category-value-input" type="text").mdl-textfield__input
  td(data-hook="category-value-count")
  td
    input(data-hook="category-group-input" type="text").mdl-textfield__input
  td
    button(data-hook="category-remove").mdl-button.mdl-js-button.mdl-js-ripple-effect
      i.material-icons remove
