div

  h2 Categorial

  div.mdl-grid 
    div(data-hook="category-rescan-button").mdl-cell.mdl-cell--4-col
      button.mdl-button.mdl-js-button.mdl-js-ripple-effect Rescan categories
  
    div(data-hook="category-addone-button").mdl-cell.mdl-cell--4-col
      button.mdl-button.mdl-js-button.mdl-js-ripple-effect Add a grouping
  
    div(data-hook="category-removeall-button").mdl-cell.mdl-cell--4-col
      button.mdl-button.mdl-js-button.mdl-js-ripple-effect Remove all groupings
      
    div.mdl-cell.mdl-cell--12-col
      table
        thead
          tr
            th Category
            th Count
            th Group
            th Remove
        tbody(data-hook="category-collection-table")
