tr
  td
    input(data-hook="continuous-x-input" type="text").mdl-textfield__input
  td
    input(data-hook="continuous-fx-input" type="text").mdl-textfield__input
  td
    button(data-hook="continuous-remove").mdl-button.mdl-js-button.mdl-js-ripple-effect
      i.material-icons remove
