div.widget-inner.mdl-card__media
  div(data-hook="scatter-plot")
  div
    button(data-hook="button").mdl-button.mdl-js-button.mdl-js-ripple-effect
        span(data-hook="label")
    ul(data-hook="ul").mdl-menu.mdl-menu--top-left.mdl-js-menu.mdl-js-ripple-effect
        li(data-hook="fit").mdl-menu__item    Calculate fit
        li(data-hook="drop").mdl-menu__item   Drop outliers
        li(data-hook="select").mdl-menu__item Select outliers

  div
    | Outliers are all points outside
    input(type="number" data-hook="count" value="2" min="0" step="0.25")
    | sigma of
    span(data-hook="pretty-fit")
