div.widget-inner.mdl-card__media
  div(data-hook="scatter-plot")
  div
    select(data-hook="mode")
        option(value="fit") Calculate fit
        option(value="drop") Drop outliers
        option(value="select") Select outliers
  div
    | Outliers are all points outside
    input(type="number" data-hook="count" value="2" min="0" step="0.25")
    | sigma of
    span(data-hook="pretty-fit")
