div.container-fluid.widget-inner
   div.container-fluid
      | Show the 
      select( data-hook="sorter" )
        option( value="descending" ) top
        option( value="ascending" ) bottom
      input( type="number" data-hook="count" min="1" max="200" )
      | rows
   div( data-hook='datatable' ).container-fluid.table
