div(data-hook="facet-bar-item" draggable="true").facetBarItem
  button(data-hook="facet-bar-item-button").mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent
  div(data-hook="tt").mdl-tooltip.mdl-tooltip--large
