div.mdl-grid(data-hook="transform-categorial-panel")

  div.mdl-cell.mdl-cell--1-col.facetCategorialIcon

  div.mdl-cell.mdl-cell--1-col

  div.mdl-cell.mdl-cell--8-col
    div(id="transform-categorial-div").mdl-grid

      div(data-hook="categorial-generaterules-button").mdl-cell.mdl-cell--4-col
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect Generate rules
     
      div(data-hook="categorial-addone-button").mdl-cell.mdl-cell--4-col
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect Add a rule
    
      div(data-hook="categorial-removeall-button").mdl-cell.mdl-cell--4-col
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect Remove all rules
        
      div.mdl-cell.mdl-cell--12-col
        table
          thead
            tr
              th Text
              th Group
              th Count
              th Remove
          tbody(data-hook="categorial-rules-table")

    div(for="transform-categorial-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right  
      | Assign facet values to grous.

  div.mdl-cell.mdl-cell--2-col
