div(data-hook="facet-bar-item").facetBarItem
  button(data-hook="facet-bar-item-button" draggable="true").mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent
  div(data-hook="tt").mdl-tooltip.mdl-tooltip--large
