li(data-hook="fullitem").mdl-list__item
  span(data-hook="clickToEdit").mdl-list__item-primary-content.mdl-grid
    div(data-hook="typeIcon").facetIcon--small.mdl-cell.mdl-cell--2-col
    div.mdl-cell.mdl-cell--10-col
      h1(data-hook="name")
      span(data-hook="description")
  span.mdl-list__item-secondary-action
    label(for="" data-hook="powerlabel").mdl-switch.mdl-js-switch.mdl-js-ripple-effect
      input(id="" type="checkbox" data-hook="power").mdl-switch__input
  div(data-hook="facetTT").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right
    | Click to configure
