div.mdl-grid(data-hook="transform-categorial-panel")

  div.mdl-cell.mdl-cell--1-col.facetCategorialIcon

  div.mdl-cell.mdl-cell--1-col

  div.mdl-cell.mdl-cell--8-col
    div(id="category-transform-div").mdl-grid
     
      div(data-hook="category-addone-button").mdl-cell.mdl-cell--6-col
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect Add a grouping
    
      div(data-hook="category-removeall-button").mdl-cell.mdl-cell--6-col
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect Remove all groupings
        
      div.mdl-cell.mdl-cell--12-col
        table
          thead
            tr
              th Category
              th Count
              th Group
              th Remove
          tbody(data-hook="category-collection-table")
    div(for="category-transform-div").mdl-tooltip.mdl-tooltip--large.mdl-tooltip--right  
      | Assign facet values to grous.

  div.mdl-cell.mdl-cell--2-col
