span
    button(data-hook="button").mdl-button.mdl-js-button.mdl-js-ripple-effect
        i(data-hook="icon").material-icons
    ul(data-hook="ul").mdl-menu.mdl-menu--top-left.mdl-js-menu.mdl-js-ripple-effect
