div(data-hook="fullitem").mdl-card.mdl-cell--4-col
    div(data-hook="title").mdl-card_title.mdl-card--border
        div(data-hook="name").mdl-card__title-text
        div(data-hook="units").mdl-card__subtitle-text
    div(data-hook="description").mdl-card__supporting-text.mdl-card--border
    div.mdl-card__actions
        span(data-hook="power").mdl-button.mdl-js-button.mdl-js-ripple-effect On/Off
        a(data-hook="edit").mdl-button.mdl-js-button.mdl-js-ripple-effect Edit
