tr
  td(data-hook="continuous-group-min")
  td(data-hook="continuous-group-max")
  td(data-hook="group-label")
  td(data-hook="group-count")
  td
    button(data-hook="categorial-group-remove").mdl-button.mdl-js-button.mdl-js-ripple-effect
      i.material-icons remove
