div.widget-inner.mdl-card__media
    div(data-hook="heatmap")
    span Range:
        span(data-hook="min")
        span(data-hook="max")
    span Total:
        span(data-hook="total")
    input(data-hook="alpha" type="range"  min="0" max="100" value="100")
