div.container-fluid.widget-inner
   div( data-hook='barchart' ).container-fluid
   div.container-fluid
     span(data-hook='fmin')
     span(data-hook='fmax')
     span Number of missing data
        span(data-hook='missing')
