div.widgetFrame
  div(data-hook="dropzones").dropZoneOverlay
    div(data-hook="widget-menu").widgetMenu
      button(data-hook="close").mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
        i.material-icons close
      span.widgetText Drag to move the plot use corner to resize
    div(data-hook="partition-dropzone").partitionDrop
      div.widgetText Drop variables here to partition the data; click on a variable to configure the parititioning.
    div(data-hook="aggregate-dropzone").aggregateDrop
      div.widgetText Drop variables here to aggregate; click on a variable to change aggregation.

  div(data-hook="widget").widgetArea
 
  div(data-hook="plot-menu").plotMenu
    button(data-hook="zoom-in").mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
      i.material-icons zoom_in
    button(data-hook="zoom-out").mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
      i.material-icons zoom_out_map

  div(data-hook="card-actions").widgetActions
    div(data-hook="partition-list").partitionList
    div(data-hook="aggregate-list").aggregateList
