div.container.col-md-4.widget-outer
  div.container-fluid
    select(data-hook="filter-selector")
        option(selected="selected") Chose a filter
    span.glyphicon.glyphicon-remove(data-hook="close" style="float:right;")
  div.container-fluid(data-hook="widget")
