div
  div
    select(data-hook="filter-selector")
        option(selected="selected") Chose a filter
    span.glyphicon.glyphicon-remove(data-hook="close" style="float:right;")
  div.container(data-hook="widget")
