div(style="z-index=10").mdl-cell.mdl-cell--2col.mdl-card.widgetFrame

  div(data-hook="widget").mdl-card__title

  div(data-hook="card-actions").mdl-card__actions.mdl-card--border
    table(style="width: 100%; border: 2px solid gray")
      tr
        td(data-hook="partition-dropzone" align="left").facetDropZone
        td(align="center") |
        td(data-hook="aggregate-dropzone" align="right").facetDropZone
   
    div(data-hook="partition-dropzonett").mdl-tooltip.mdl-tooltip--large
      | Drop facets here to partition the data, click to configure
   
    div(data-hook="aggregate-dropzonett").mdl-tooltip.mdl-tooltip--large
      | Drop facets here to aggregate data, click to configure

<<<<<<< HEAD
  div(data-hook="card-menu").mdl-card__menu
    button(data-hook="zoom-in").mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
      i.material-icons zoom_in
    button(data-hook="zoom-out").mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
      i.material-icons zoom_out_map
    button(data-hook="close").mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
      i.material-icons close
=======
      div
        button(data-hook="close").mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
          i.material-icons close

    div(data-hook="widget")

    div(data-hook="dropzone").mdl-card__actions.facetDropZone
    div(data-hook="dropzonett").mdl-tooltip.mdl-tooltip--large
      | Drop facets here, click to configure




    //- div(data-hook="drag1" id="drag1").draggable.js-drag Drag me1
    div(data-hook="dropzone-wrapper" id="dropzone-wrapper").dropzone-wrapper
    div(data-hook="dropFacet" id="dropFacet").dropzone.js-drop Facet zone
    //- div(data-hook="drop2" id="drop2").dropzone.js-drop Facet zone-2
    //- div(data-hook="drop3" id="drop3").dropzone.js-drop Facet zone-2
    
        
>>>>>>> Plotly 3d partly works.
