div.widgetFrame
  div(data-hook="dropzones").dropZoneOverlay
    div(data-hook="widget-menu").widgetMenu
      button(data-hook="close").mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
        i.material-icons close
      h3 Drag to move the plot
    div(data-hook="partition-dropzone").partitionDrop
      h3 Drop variables here to partition the data
    div(data-hook="aggregate-dropzone").aggregateDrop
      h3 Drop variables here to aggregate

  div(data-hook="widget").widgetArea
 
  div(data-hook="plot-menu").plotMenu
    button(data-hook="zoom-in").mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
      i.material-icons zoom_in
    button(data-hook="zoom-out").mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
      i.material-icons zoom_out_map

  div(data-hook="card-actions").widgetActions
    div(data-hook="partition-list").partitionList
    div(data-hook="aggregate-list").aggregateList
