@import '../node_modules/material-design-lite/dist/material.css'
@import 'material_icons.css'

@import '_variables'
@import '_mixins'

// your styles here:
body
  background: white

// datatable
div.table
  overflow-x: scroll


.widgetframe
  padding: 20px
  min-height: 350px

.fullwidth
  width: 100%

.mdl-text-field
  font-size: large


// image card: 
// https://www.getmdl.io/components/index.html#cards-section

.fileBtn
    position: absolute
    left: 0
    top: 0
    clip: rect(0px 0px 0px 0px)

.card-wide > .mdl-card__title
  color: #fff
  height: 176px

.card-wide > .mdl-card__menu
  color: #fff

.jsonupload
    background: lightblue url('/images/JSON.svg') no-repeat center

// FIXME: CSV image
.csvupload
    background: lightblue url('/images/CSV.svg') no-repeat center

.sessionupload
    background: lightblue url('/images/upload.svg') no-repeat center

.sessiondownload
    background: lightblue url('/images/download.svg') no-repeat center

