.card-wide > .mdl-card__title
  color: #fff
  height: 176px

.card-wide > .mdl-card__menu
  color: #fff

.mdl-card__media
  background-color: white

.mdl-card__actions
  background-color: white

.mdl-card__menu
  background-color: white

.homeCard
  display: flex
  align-items: center
  justify-content: center
  color: #20A8D8

.serverupload
  background: #ECEFF1 url('images/PostgreSQL_logo.3colors.svg') no-repeat center
  background-size: contain

.jsonupload
  background: #ECEFF1 url('images/JSON.svg') no-repeat center
  background-size: contain

.csvupload
  background: #ECEFF1 url('images/CSV.svg') no-repeat center
  background-size: contain

.excelupload {
  background: #ECEFF1 no-repeat center
  background-size: contain
}

.excelupload:before {
  margin: auto;
  font-family: FontAwesome;
  font-size: 120px;
  color: black;
  content: "\f1c3"; // excel icon in fontawesome
}

.sessionupload
  background: #ECEFF1 url('images/upload.svg') no-repeat center
  background-size: contain

.sessiondownload
  background: #ECEFF1 url('images/download.svg') no-repeat center
  background-size: contain

.datadownload
  background: #ECEFF1 url('images/datadownload.svg') no-repeat center
  background-size: contain
