.card-wide > .mdl-card__title
  color: #fff
  height: 176px
  border: 10px solid transparent;

.card-wide > .mdl-card__menu
  color: #fff

.mdl-card__media
  background-color: white

.mdl-card__actions
  background-color: white

.mdl-card__menu
  background-color: white

.homeCard
  display: flex
  align-items: center
  justify-content: center
  color: #20A8D8

.serverconnect-btn
  margin: 10px;
  padding-left: 45px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: 5px !important;
  background-image: url("images/PostgreSQL_logo.3colors.svg") !important;

.jsonupload-btn
  margin: 10px;
  padding-left: 45px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: 5px !important;
  background-image: url("images/JSON.svg") !important;

.csvupload-btn
  margin: 10px;
  padding-left: 45px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: 5px !important;
  background-image: url("images/CSV.svg") !important;

.sessionsave-btn
  margin: 10px;
  padding-left: 45px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: 5px !important;
  background-image: url("images/save.svg") !important;


.sessionupload-btn
  margin: 10px;
  padding-left: 45px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: 5px !important;
  background-image: url("images/upload.svg") !important;


.sessiondownload-btn
  margin: 10px;
  padding-left: 45px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: 5px !important;
  background-image: url("images/download.svg") !important;


.sessioncloudup-btn
  margin: 10px;
  padding-left: 45px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: 5px !important;
  background-image: url("images/cloud_upload.svg") !important;


.sessionclouddown-btn
  margin: 10px;
  padding-left: 45px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: 5px !important;
  background-image: url("images/cloud_download.svg") !important;


.datadownload-btn
  margin: 10px;
  padding-left: 45px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: 5px !important;
  background-image: url("images/datadownload.svg") !important;

