.mdl-layout__drawer {
  overflow: hidden;
  width: 240px;
  transform: translateX(0);
  transition: 250ms width ease-in-out;

  .mdl-navigation__link span {
    opacity: 0;
    transition: 250ms opacity ease-in-out;
  }

  + .mdl-layout__header,
  ~ .mdl-layout__content {
    transition: 250ms margin-left ease-in-out;
  }

  &.is-expanded {
    width: 280px;

    .mdl-navigation__link span {
      opacity: 1;
    }

    + .mdl-layout__header {
      margin-left: 240px!important;
    }

    ~ .mdl-layout__content {
      margin-left: 240px!important;
    }
  }

}

.mdl-layout__header,
.mdl-layout__content {
  margin-left: 0px!important;
}

.mdl-navigation {
  width: 240px;
}

.mdl-layout__header-row {
  padding: 0 16px 0 22px;
}

.mdl-layout__content {
  background: #878787;
}

.mdl-layout__drawer-button {
  display: none;
}
