.activeFacet
  color: rgb(63,81,181)
  border: 2px solid
  margin-top: 3px
  margin-bottom: 3px
  background: rgb(163, 242, 162)

.activeFacet
  .mdl-card__actions
    position: absolute
    bottom: 0

.inactiveFacet
  background: rgb(244, 171, 168)

.inactiveFacet
  .mdl-card__actions
    position: absolute
    bottom: 0

.facetIcon
  flex: 1
  width: 10em
  height: 10em
  background-size: contain
  background-repeat: no-repeat
  background-position: right center

.facetIcon--small
  width: 64px
  height: 64px
  margin-right: 32px
  background-repeat: no-repeat
  background-position: right center

.facetInfoIcon
  background-image: url('images/facet-info.svg')

.facetTypeIcon
  background-image: url('images/facet-type.svg')

.facetBaseValueIcon
  background-image: url('images/facet-basevalue.svg')

.facetDatetimeIcon
  background-image: url('images/facet-datetime.svg')

.facetDurationIcon
  background-image: url('images/facet-duration.svg')

.facetTextIcon
  background-image: url('images/facet-text.svg')

.facetContinuousIcon
  background-image: url('images/facet-continuous.svg')

.facetCategorialIcon
  background-image: url('images/facet-categorial.svg')

.facetReductionIcon
  background-image: url('images/facet-reduction.svg')

.facetReductionPercentageIcon
  background-image: url('images/facet-reduction-percentage.svg')

.facetBar
  height: inherit
  min-height: 64px
  display: flex
  flex-direction: row
  justify-content: center
  padding: inherit
  align-items: center

.facetBarItems
  width: 95%
  display: flex
  flex-direction: row
  flex-wrap: wrap

.facetBarText
  @extends .unselectable
  text-align: center
  align-self: center
  width: 10em
