.fa {
  margin-right: 5px;
}


.mdl-layout__drawer {
  overflow: hidden;
  width: 40px;
  transform: translateX(0);
  border: 0px;
  box-shadow: none;

  transition: 200ms 200ms width ease-in-out;

  .mdl-navigation__link span {
    opacity: 0;
    transition: 200ms 200ms opacity ease-in-out;
  }

  + .mdl-layout__header,
  ~ .mdl-layout__content {
    transition: 200ms 200ms margin-left ease-in-out;
  }

  &.is-expanded {
    width: 140px;

    .mdl-navigation__link span {
      opacity: 1;
    }

    + .mdl-layout__header {
      margin-left: 140px!important;
    }

    ~ .mdl-layout__content {
      margin-left: 140px!important;
    }
  }
}

.mdl-layout__header,
.mdl-layout__content {
  margin-left: 0px!important;
}

.mdl-navigation {
  width: 140px;
}

.mdl-layout__header-row {
  padding: 0 0 0 20px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  padding-left: 0px;
}

.mdl-layout__content {
  margin-left: 20px!important;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color:rgba(255,255,255,0.5);
}

.mdl-mega-footer__middle-section {
  display:flex;
  justify-content:center;
  align-items:center;
}

.mdl-mega-footer__heading {
  display:flex;
  justify-content:center;
  align-items:center;
}

.footerItem {
  font-size: 25px;
  font-size: 2.0vw;
  margin-left: 0.1vw;
  margin-right: 2.0vw;
  text-align: justify;
  color:white;
  padding-left: 0px;
  text-decoration: none;
  font-family: 'Gotham Rounded A','Gotham Rounded B',Helvetica,Arial,sans-serif
}

.footerImg{
  font-size: 20px;
  font-size: 2.0vw;
//  margin-left: 2.0vw;
//  margin-right: 2.0vw;
//  position: relative;
//  margin: 0px 5px 0px 5px; // top, right, bottom, left
//  float: left;
//  width: 60px;
//  height: 60px;
//  background-position: 50% 50%;
//  background-repeat:   no-repeat;
//  background-size:     cover;
}


.menuIcon {
  font-size: 30px;
  text-align: justify;
  color:white;
  padding-left: 5px;
  text-decoration: none;
}

.menuText {
  font-size: 20px;
  text-align: justify;
  position: relative;
  bottom: 5px;
  color:white;
  padding-left: 20px;
  text-decoration: none;
  font-family: 'Gotham Rounded A','Gotham Rounded B',Helvetica,Arial,sans-serif
}

.mdl-layout__content {
  height: 100%;
  overflow-y: visible;
}

.mdl-icon-toggle__label.material-icons {
  color: rgb(255, 255, 255);
}

.mdl-icon-toggle.is-checked .mdl-icon-toggle__label {
  color: rgb(32, 168, 216);
}
.mdl-checkbox.mdl-checked ._mdl-icon {
  background-color: white;
}


.afIcon {
  font-size: 40px;
  margin-bottom: 1em;
  text-align: justify;
}

.afCheckIcon {
  font-size: 40px;
}


.bgspotImage {
    background: url("./images/background.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bgspotColor {
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.particles {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.bgspotTrans:after {
  content: "";
  background: url("./images/background.jpg")no-repeat center center;
  background-size:100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color:rgba(255,255,255,0.4);
  opacity: 0.8;
  background-size: 100% auto;
}



.mdl-grid {
  flex: 0 0 auto;
  padding: 0!important;
}

.cardTitleText {
  content: "p ";
  text-align: center;
  font-size: 2.0em;
  margin-top: 0.5em;
//  margin-bottom: 1.0em;
  color: white;
  text-align: justify;
  line-height: 1.0em;
}

ul {
  padding-left: 0px;
}

.home-content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 0px !important;
}

.iconBig {
  font-size: 40px;
  margin-bottom: 1em;
  text-align: justify;
  color:white;
}

.cardText {
  font-size: 16px;
  margin-bottom: 0em;
  text-align: justify;
  color:white;
}


.spot-cell{
//  background: white;
  background: rgba(19, 19, 19, 1);
  padding: 30px;
  color: black;
//  font-size: 20px;
}

.spot-footer{
  padding: 0px;
  color: black;
  font-size: 20px;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.spot-footer-item{
  padding-left: 1%;
  padding-right: 1%;
}

.spot-color1{
  background: #e0e3e5;
}

.spot-color2{
  background: black;
}

.spot-color3{
  background: #00ADEF;
}

.spot-color4{
  color: rgba(19, 19, 19, 1);
}

.spot-color-white{
  color: rgb(0, 0, 0);
}

.spot-trans{
  opacity:0.5;
}

.spot-trans2{
  opacity:0.10;
}

.spot-color-top-bar{
  background: white;
}

.spot-color-top-bar-text{
  color: #000000;
}

.spot-color-side-bar-header{
  background: #263238;
}

.spot-color-side-bar{
  background: rgb(65, 84, 94);
}

.spot-color-page{
  background: #cedae0;
}

.spot-color-card-content{
  background: #ECEFF1;
}

.logos {
    max-width: 90%;
    margin: auto;
    justify-content: center;    /*This will center the interior elements*/
}

ulspot {
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;
}

lispot:before {
//    content: "";
    display: block;
    float: left;
    width: 1.2em;
    color: green;
}

.spotlink {
    text-decoration: none;
    color: white;
    text-align: center;
    vertical-align: middle;
}
