
.unselectable
  -moz-user-select: none
  -khtml-user-select: none
  -webkit-user-select: none
  -webkit-touch-callout: none
  -ms-user-select: none
  user-select: none

// your styles here:
body
  background: white

// datatable
div.table
  overflow-x: scroll

.fullwidth
  width: 100%

.mdl-text-field
  font-size: large


// image card:
// https://www.getmdl.io/components/index.html#cards-section

.fileBtn
  position: absolute
  left: 0
  top: 0
  clip: rect(0px 0px 0px 0px)

.analyzeMain
  overflow-y: scroll

.widgetOuterFrame
  position: absolute

.widgetFrame
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0
  flex: 1
  display: flex
  flex-direction: column
  align-items: stretch

.plotMenu
  z-index: 30
  position: absolute

.configView
  background: rgba(255,255,255,0.75)
  background-size: 85% 85%
  z-index: 20
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  overflow-y: auto
  overflow-x: hidden

.widgetView
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.partitionDrop
  width: 100%
  height: 40%
  border-top: 2px dotted

.mdl-chip
  margin-left: 2px
  margin-right: 2px

.aggregateDrop
  width: 100%
  height: 40%
  border-top: 2px dotted

.widgetView
  display: flex
  align-items: stretch
  flex-grow: 1

.widgetActions
  flex-grow: 0

.partitionList
  width: 45%
  position: absolute
  bottom: 0
  left: 0

.aggregateList
  width: 45%
  position: absolute
  bottom: 0
  right: 0

.demo-avatar
  background: url('images/nlesc.svg')


.searchBar
  border-radius: 10px
  padding: 2px

.facetDescription
  @extends .unselectable
  flex: 1

.widgetInner
  width: 100%

.slots
  flex-grow: 1
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: flex-start
  align-content: flex-start
  margin-left: 5%
  margin-right: 5%
  overflow-x: hidden
  overflow-y: auto

.slot
  flex: 1
  margin: 1em
  margin-top: 1em
  margin-bottom: 1em
  padding: 0.5em
  display: flex
  justify-content: space-between
  background-color: white

.slot:active
  background-color: rgb(200,200,200)

.slotText
  flex: 1

.slotChip
  flex: 1
  margin-left: 1em
  min-width: 5em
  font-size: x-large
  display: flex
  align-items: center

.slotButton
  display: flex
  align-items: center

.widgetDragBar
  flex-grow: 0
  display: flex
  align-items: center
  cursor: move
  background-color: rgb(230,230,230)

.dragBarText
  flex: 1
  text-align: center

.gs-resize-handle-both
  background-size: cover
  width: 4em
  height: 4em
  z-index: 100

.mdl-dialog
  border: none;
  width: fit-content;
  -moz-fit-content: fit-content;
  border-radius: 10px;

.mdl-dialog__content
  border: none;
  width: fit-content;
  padding: 0 0 0 0;

.mdl-dialog button{
  border-radius: 10px;
}

// .mdl-data-table
//   table-layout:fixed;
//   width:100%;
//   text-align: left !important;
//   text-decoration: none;

// #csv-settings-table td, th
//   width: 100%;
//   border: none;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   -o-text-overflow: ellipsis;
//   text-align: left !important;
//   text-decoration: none;

.mdl-data-table
  border: none;

#csv-settings-table td, th
  border: none;

#csv-settings-table{
  margin-top:24px;
}
.material-icons {
  vertical-align: -25%;
}
.mdl-data-table th, td{
  text-align: left !important;
}
.center{
  text-align:center;
}

.mdl-layout__drawer-button{
  color: #ffffff;
}

.data-page-card-button.mdl-card {
//  width: 512px;
  min-height: 20px;
  border-radius: 10px;
}
.data-page-card-button > .mdl-card__title {
//  color: #fff;
//  background: url('../assets/demos/welcome_card.jpg') center / cover;
  height: 50px;
}
.data-page-card-button > .mdl-card__menu {
//  color: #fff;
}
.data-page-card-button > .mdl-card__supporting-text {
//  color: #fff;
  height: 15px;
  padding: 0px 0px 25px 10px;  
}