div(style='background-color: white;')
  main.mdl-layout__content.page-content
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.demo-header.mdl-layout__header.spot-color-top-bar.mdl-color-text--grey-600
        div.mdl-layout__header-row
          span.mdl-layout-title.unselectable Analyze

          div.mdl-layout-spacer

          span(data-hook="data-string").unselectable

          div.mdl-layout-spacer

          span(data-position="bottom" data-step="0" data-intro="")

          button(id="resetFiltersButton" data-position="bottom" data-step="0" data-intro="")
            i.material-icons clear_all
          div(for="resetFiltersButton").mdl-tooltip.mdl-tooltip--large
            | Clear all filters of all plots

          button(id="fullscreenButton" data-position="bottom" data-step="1" data-intro="This button switches between edit and view mode. You can edit your charts only in edit mode!")
            i.material-icons fullscreen
          div(for="fullscreenButton").mdl-tooltip.mdl-tooltip--large
            | Show or hide chart and facet bars

        div(data-hook="chart-bar" data-position="bottom" data-step="2" data-intro="These are the available chart types. If you want to add a chart, just click on its icon and it will be created! Simple, right? ").chartBar.spot-color-top-bar.mdl-color-text--grey-600
          span.chartBarText Click on a chart icon to start a new plot

          div(data-hook="horizontalbarchart" id="horizontalbarchart" data-position="bottom" data-step="3" data-intro="This adds a horizontal bar chart(histogram).").mdl-cell.mdl-cell--12-col.horizontalbarchartIcon.widgetIcon
          div(for="horizontalbarchart").mdl-tooltip.mdl-tooltip--large
            | Click to add a horizontal bar chart

          div(data-hook="barchart" id="barchart" data-position="bottom" data-step="4" data-intro="This adds a vertical bar chart.").mdl-cell.mdl-cell--12-col.barchartIcon.widgetIcon
          div(for="barchart").mdl-tooltip.mdl-tooltip--large
            | Click to add a bar chart

          div(data-hook="linechart" id="linechart" data-position="bottom" data-step="5" data-intro="This adds a line chart.").mdl-cell.mdl-cell--12-col.linechartIcon.widgetIcon
          div(for="linechart").mdl-tooltip.mdl-tooltip--large
            | Click to add a line chart

          div(data-hook="piechart" id="piechart"  data-position="bottom" data-step="6" data-intro="This adds a pie chart.").mdl-cell.mdl-cell--12-col.piechartIcon.widgetIcon
          div(for="piechart").mdl-tooltip.mdl-tooltip--large
            | Click to add a pie chart

          div(data-hook="bubbleplot" id="bubbleplot" data-position="bottom" data-step="7" data-intro="This adds a buble chart.").mdl-cell.mdl-cell--12-col.bubbleplotIcon.widgetIcon
          div(for="bubbleplot").mdl-tooltip.mdl-tooltip--large
            | Click to add a bubbleplot chart

          div(data-hook="scatterchart" id="scatterchart" data-position="bottom" data-step="8" data-intro="This adds a 3D scatter chart.").mdl-cell.mdl-cell--12-col.scatterchartIcon.widgetIcon
          div(for="scatterchart").mdl-tooltip.mdl-tooltip--large
            | Click to add a 3d scatter chart

          div(data-hook="radarchart" id="radarchart" data-position="bottom" data-step="9" data-intro="This adds a radar chart.").mdl-cell.mdl-cell--12-col.radarchartIcon.widgetIcon
          div(for="radarchart").mdl-tooltip.mdl-tooltip--large
            | Click to add a radar chart

          div(data-hook="networkchart" id="networkchart" data-position="bottom" data-step="10" data-intro="This adds a network chart.").mdl-cell.mdl-cell--12-col.networkchartIcon.widgetIcon
          div(for="networkchart").mdl-tooltip.mdl-tooltip--large
            | Click to add a network chart

        div(data-hook="facet-bar" id="facet-bar" data-position="bottom" data-step="11" data-intro="This is where you will have your variables(facets). Just drag and drop these facets to field of the charts to visualize.").facetBar.spot-color-top-bar
          span.facetBarText Drop variable on a chart, or click to edit
          div(data-hook="facet-bar-items" id="facetBar").facetBarItems
        div(id="facet-bar-tooltip" for="facet-bar").mdl-tooltip.mdl-tooltip--large
          | Drop variable on a chart, or click to edit

        div(id="widgets" data-hook="widgets").widgetDropZone
