body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Urban Heat Island analyzer
      ul.nav.navbar-nav
        li
          a(href="/uhimap") UHI Map
        li
          a(href="/filters") Filters
        li
          a(href="/info") more info
  div
    main(data-hook="page-container")
    footer.footer-main
      nav.nav-footer.cf
        //- Three columns of links
        div
          a.nav-item.external(href="http://nlesc.nl") Netherlands eScience Center
        div
          a.nav-item.external(href="http://www.met.wau.nl/SummerInTheCity") Summer in the City
        div
          a.nav-item.external(href="http://ampersandjs.com") Ampersand
