main.mdl-layout__content.home-content.bgspotImage
  canvas.particles
  div.content-grid.mdl-grid.mdl-cell--middle

    div.mdl-cell.mdl-cell--12-col.mdl-cell--0-offset.mdl-shadow--2dp.spot-cell.spot-trans.spot-color4
      div(data-hook="animtoggle" style="float: right; color: white; border: 0px solid;")
        label(data-hook="animlabel" for="animinput").mdl-switch.mdl-js-switch.mdl-js-ripple-effect
          input(data-hook="anim" type="checkbox" id="animinput").mdl-switch__input
          span(style="float: right;").mdl-switch__label  Animation

      span.cardTitleText.material-icons.menuIcon explore
      span.cardTitleText  SPOT: interactive, fast facet browser
      ul
        li
          p.cardText SPOT is an interactive, fast data visualization tool. It was primarily designed as data exploration and analysis tool for complex multi-dimensional datasets. Users can visualize the data only with a few clicks. SPOT can be used to compare different datasets. It is also possible to connect to a Postresql server to analyze big datasets.

    div.mdl-cell.mdl-cell--4-col.spot-cell.spot-trans.spot-color4
      span.cardTitleText.material-icons.menuIcon merge_type
      span.cardTitleText   Highlights
      ul
        li
          .cardText Specifically designed for scientific data visualization
        li
          .cardText Fully animated and interactive charts
        li
          .cardText Exploration sessions can be saved
        li
          .cardText Database connection (Postgresql)

    div.mdl-cell.mdl-cell--4-col.spot-cell.spot-trans.spot-color4
      span.cardTitleText.material-icons.menuIcon extension
      span.cardTitleText   Modern tools
      ul
        li
          .cardText Viewer is fully standalone (no server required)
        li
          .cardText Responsive interface: material design lite
        li
          .cardText Fast filtering (~1M data points in ~30ms)
        li
          .cardText Cross platform (desktop, mobile and tablet)

    div.mdl-cell.mdl-cell--4-col.mdl-shadow--2dp.spot-cell.spot-trans.spot-color4
      span.cardTitleText.material-icons.menuIcon lock_open
      span.cardTitleText   Open Source
      ul
        li
          .cardText Permissive Open source Licence (Apache 2.0)
        li
          .cardText Continuous Integration
        li
          .cardText Documented (jsdoc) and tested (jasmine)
        li
          .cardText Generic tool to be useful in any scientific project

  div.mdl-layout-spacer

  footer.mdl-mega-footer.spot-cell.spot-trans.spot-color4
    div.spot-footer
      div.spot-footer-item
        a(data-hook="nlescpage" href='https://www.esciencecenter.nl' target='_blank').spotlink
          div.demo-avatar
      div.spot-footer-item
        a(data-hook="demo-session" href='').spotlink
          span.footerImg.material-icons.menuIcon ondemand_video
          span.footerItem Demo
      div.spot-footer-item
        a(data-hook="tutorialpage" href='https://nicorenaud.gitbooks.io/spot-first-step/content/' target='_blank').spotlink
          span.footerImg.material-icons.menuIcon link
          span.footerItem Tutorial
      div.spot-footer-item
        a(data-hook="githubpage" href='https://github.com/NLeSC/spot' target='_blank').spotlink
          span.footerImg.material-icons.menuIcon link
          span.footerItem Project
