body
  div(data-hook="test").mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-drawer
    div(data-hook="main-drawer").mdl-layout__drawer.is-expanded
      span.mdl-layout-title


      dialog(data-hook="color-settings").mdl-dialog
        div(data-hook="color-dialog").mdl-dialog__content
            div
              ul.mld-list
                li.mdl-list__item
                  span.mdl-list__item-primary-content
                    | Original
                  span.mld-list__item-secondary-action
                    label(for="menu-color-original").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                      input(type="radio" id="menu-color-original" name="menu-color-options" value="original").mdl-radio__button
                li.mdl-list__item
                  span.mdl-list__item-primary-content
                    | Gray
                  span.mld-list__item-secondary-action
                    label(for="menu-color-gray").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                      input(type="radio" id="menu-color-gray" name="menu-color-options" value="gray").mdl-radio__button
                li.mdl-list__item
                  span.mdl-list__item-primary-content
                    | Blue
                  span.mld-list__item-secondary-action
                    label(for="menu-color-blue").mdl-radio.mdl-js-radio.mdl-js-ripple-effect
                      input(type="radio" id="menu-color-blue" name="menu-color-options" value="blue").mdl-radio__button

            div.mdl-dialog__actions.mdl-dialog__actions--full-width
              button(data-hook="color-settings-close" type="button").mdl-button.close Close















      nav(data-hook="nav-menu").mdl-navigation

        a(href="").mdl-navigation__link
          i(role="presentation" data-hook="menu-button" id="menu-button").fa.fa-bars.menuIcon

        a(href="/home").mdl-navigation__link
          i(role="presentation" id="homeButton").fa.fa-home.menuIcon
            span.menuText Home

        a(href="/datasets").mdl-navigation__link
          i(role="presentation" id="datasetButton").fa.fa-database.menuIcon
            span.menuText Datasets

        a(href="/analyze").mdl-navigation__link
          i(role="presentation" id="analyzeButton").fa.fa-pie-chart.menuIcon
            span.menuText Analyze

        a(href="/share").mdl-navigation__link
          i(role="presentation" id="shareButton").fa.fa-share-alt-square.menuIcon
            span.menuText Share

        div.mdl-layout-spacer
        a(href="" data-hook="tour-button" id="tour-button").mdl-navigation__link
          i(role="presentation" id="tourButton").fa.fa-question-circle.menuIcon
            span.menuText Help

      div(data-hook="menu-spacer").mdl-layout-spacer
      a(href="" data-hook="menu-color-button" id="menu-color-button").mdl-navigation__link
        i(role="presentation" id="menuColorButton" style="margin-bottom: 10px;").material-icons.menuIcon colorize


    main(data-hook="page-container").mdl-layout__content

    div(id="progress-bar" style="width: 100%; height: 5%; display: none").mdl-progress.mdl-js-progress

    div(id="snack-bar" aria-live="assertive" aria-atomic="true" aria-relevant="text").mdl-js-snackbar.mdl-snackbar
      div.mdl-snackbar__text
      button(type="button").mdl-snackbar__action
