div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  main(style='background-color: white;').mdl-layout__content
    header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
      div.mdl-layout__header-row
        span.mdl-layout-title Share analysis

    dialog(data-hook="session-upload-cloud").mdl-dialog
      h2.mdl-dialog__title Expire date and the session link
      div.mdl-dialog__content
        p
          | The link will expire in:
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
          input(id="session-upload-cloud-expire" data-hook="session-upload-cloud-expire" type="text").mdl-textfield__input
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
            input(id="session-upload-cloud-link" data-hook="session-upload-cloud-link" type="text").mdl-textfield__input
      div.mdl-dialog__actions.mdl-dialog__actions
        button(data-hook="session-upload-cloud-close-button" type="button").mdl-button.close Close

    dialog(data-hook="session-download-cloud").mdl-dialog
      h2.mdl-dialog__title Enter the link
      div.mdl-dialog__content
        p
        | Make sure that you saved your current session!
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
            input(id="session-download-cloud-link" data-hook="session-download-cloud-link" type="text").mdl-textfield__input
      div.mdl-dialog__actions.mdl-dialog__actions
        button(data-hook="session-download-cloud-get" type="button").mdl-button Download
        button(data-hook="session-download-cloud-close-button" type="button").mdl-button.close Cancel

    div(style="width: 100%").mdl-grid
      div.mdl-cell.mdl-cell--4-col.homeCard
        div(data-position="bottom" data-step="1" data-intro="Here you can download the complete session as a single file in JSON format. This includes all the charts, settings and the data. The downloaded session file then can be shared to have exactly the same charts.").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.sessiondownload
          div.mdl-card__actions.mdl-card--border
            a(data-hook="session-download" download).mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
              | Download session

      div.mdl-cell.mdl-cell--4-col.homeCard
        div(data-position="bottom" data-step="2" data-intro="If you have A session file, you can upload it here to regenerate your charts.").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.sessionupload
          div.mdl-card__actions.mdl-card--border
            label(for="sessionuploadBtn" data-hook="session-upload").mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
              | Upload session
            input(type="file" data-hook="session-upload-input" id="sessionuploadBtn").fileBtn

      div.mdl-cell.mdl-cell--4-col.homeCard
        div(data-position="bottom" data-step="3" data-intro="The data used in charts can be downloaded here. This is useful if you want to share only the data.").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.datadownload
          div.mdl-card__actions.mdl-card--border
            a(data-hook="data-download" download).mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
              | Download data

    div(style="width: 100%").mdl-grid
      div.mdl-cell.mdl-cell--4-col.homeCard
        div(data-position="bottom" data-step="4" data-intro="Here you can load a session at given <b>remote url</b>.").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.sessionclouddown
          div.mdl-card__actions.mdl-card--border
            a(data-hook="session-cloud-upload" cloud-upload).mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
              | Share session

      div.mdl-cell.mdl-cell--4-col.homeCard
        div(data-position="bottom" data-step="5" data-intro="Here you can share the complete session. The session will be stored on the <b>Cloud</b>.").card-wide.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.sessioncloudup
          div.mdl-card__actions.mdl-card--border
            a(data-hook="session-cloud-download" cloud-download).mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
              | Get session
